.banner-font{
  font-family: "Signika", Arial, Helvetica, sans-serif;
  font-weight: 990;
  margin-left: 18px;

}

.sopra{
    position: relative;
}

.sotto{
    position: absolute;
}
.valore{
  color: cyan;
  margin-left: 5px;
}
/*.corpo{*/
/*  border: dotted black;*/
/*  padding: 10px;*/
/*  width: 240px;*/
/*}*/
