<div>

  <mat-expansion-panel hideToggle id="footer">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span>Coded by </span>
          
          <mat-icon>code</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          <span>UninaCorse E-Team</span>
          <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
          <span><a href="https://www.linkedin.com/in/nicola-auriemma-a338a1112/">Nicola Auriemma</a></span>
          <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
      </p>
      <p>
          <span><a href="">Francesco Mazza</a></span>
          <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
      </p>
    </mat-expansion-panel>

</div>