.developer{

    opacity: 0;
    animation: fade 1.5s 100ms;
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

span{
    
    font-size: large;
}
@-webkit-keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
} 

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

.example-spacer {
    flex: 1 1 auto;
  }