<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/series-label.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>
        <script src="https://code.highcharts.com/modules/boost.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
        <script src="https://kit.fontawesome.com/f6b29a4c68.js" crossorigin="anonymous"></script>
        <title>Grafici</title>
    </head>
    <body class="bodyClass">
        <app-nav-bar></app-nav-bar>
        <div class="center">
            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
              <input matInput #date [matDatepicker]="picker" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            &nbsp;&nbsp;&nbsp;
            <label>Scegli ora inizio:&nbsp;</label><input type="time" #orain id="oraInizioGenerale" value="22:16:00" step="2">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>Scegli ora fine:&nbsp;</label><input type="time" #orafin id="oraFineGenerale" value="22:18:00" step="1">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button mat-button color="primary" *ngIf="date.value.length>7" (click)=prepareValuesForSearch(orain.value,orafin.value,date.value) style="font-size: 17px">Search</button>
            <button mat-button color="primary" disabled *ngIf="date.value.length<=7" style="font-size: 17px">Search</button>
        </div>
        <div class = "center">
            <div [hidden]="!sensorListDisplayed">
              <div style="max-height: 600px; overflow: auto">
                <mat-selection-list #sensoriSelezionati role="listbox">
                  <mat-list-option role="option" *ngFor="let item of listaSensori" [value]="item">
                    {{item | strRemUnderscore | titlecase}}
                  </mat-list-option>
                </mat-selection-list>
              </div>
              <div>
                <mat-divider></mat-divider>
                <br>
                <label class="textClassSmall">&nbsp;&nbsp;&nbsp;Sensori Selezionati: {{sensoriSelezionati.selectedOptions.selected.length}}</label>
              </div>
            </div>
            <div #graph id="grafici" *ngIf="chartsListDisplayed"></div>
        </div>
        <div class="centerTrasparent">
          <div class="right">
            <button mat-raised-button color="primary" class="buttonDistance" (click)="mostraGrafici()" *ngIf="sensorListDisplayed">Mostra Grafici</button>
            <button mat-raised-button color="primary" class="buttonDistance" (click)="unisciGrafici()" *ngIf="!sensorListDisplayed && canJoinGraph">Unisci</button>
            <button mat-raised-button color="primary" class="buttonDistance" [disabled]="(sensoriSelezionati.selectedOptions.selected.length < 2)" (click)="deselectAll()" *ngIf="sensorListDisplayed">Deselect All</button>
          </div>
        </div>
    </body>
</html>
