<html>


    <body>

      <div class="container-fluid">

        <div class="loggedin-div" id="user_div">
          
              <object>
                <embed class="imgStyle" src="../assets/svg/eteam.svg">
              </object>
            
            
          
          <div class="row myMargin">
            <div class="col-sm-12">
              <h3 class="loginHeader">Bentornato</h3>
            </div>
            
          </div>

        <div class="row">
            <button class="myButton myHover" mat-raised-button color="primary" routerLink="../statogenerale">Stato Generale</button>
        </div>
        <div class="row">
          <button class="myButton myHover" mat-raised-button color="primary" routerLink="../storico">Storico</button>
        </div>
        <div class="row">
          <button class="myButton myHover" mat-raised-button color="primary" routerLink="../cambiopassword">Account</button>
        </div>
        <div class="row">
          <button class="myButton myHover" mat-raised-button color="primary" (click)="logout()" >Logout</button>
        </div>

        </div>

      </div>

        

        

    </body>

</html>
