<html>


    <body>

      <div class="row">

        <div class="loggedin-div col" id="user_div">
          <div class="row">
            <object>
              <embed src="../assets/svg/eteam.svg" width="40%" height="40%">
            </object>
          </div>
          
          <div class="row">
            <h3 class="loginHeader col">Bentornato</h3>
          </div>

        <div class="row">
          <div class="col">

            <button class="myButton myHover" mat-raised-button color="primary" routerLink="../statogenerale">Stato Generale</button>
          </div>

        </div>
        <div class="row">
          <button class="myButton myHover" mat-raised-button color="primary" routerLink="../storico">Storico</button>
        </div>
        <div class="row">
          <button class="myButton myHover" mat-raised-button color="primary" routerLink="../cambiopassword">Account</button>
        </div>
        <div class="row">
          <button class="myButton myHover" mat-raised-button color="primary" (click)="logout()" >Logout</button>
        </div>

        </div>

      </div>
        

    </body>

</html>
