<html>

<body>
    <div class="loggedin-div"  id="login_div">
        <object>
          <embed src="../assets/svg/eteam.svg" width="40%" height="40%">
      </object>
        <h3 class="loginHeader">Autenticazione</h3>
        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Username</mat-label>
            <input matInput disabled value="Unina Corse">
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Password</mat-label>
            <input id="inputPassword" (keyup)="handleEvent($event)" matInput [type]="hideNewPassword ? 'password' : 'text'" placeholder="Password" [formControl]="password" required>
            <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword">
            <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </p>
       <button id="loginButton" class="myButtonNoHover" disabled mat-raised-button color="primary" *ngIf="loginButtonDisabled">Login</button>
       <button id="loginButton" class="myButton" mat-raised-button color="primary" (click)="myLogin()" *ngIf="!loginButtonDisabled">Login</button>
      </div>

</body>

</html>
