<div class="col-sm-4 text-center" >

    <div class="col-sm-4">
        
        <button class="btn empty" type="button"><span class="spanBar inv">-</span></button>
        <button class="btn " type="button"><span class="spanBar">25°</span></button>
        <button class="btn empty" type="button"><span class="spanBar inv">-</span></button>
        <button class="btn empty" type="button"><span class="spanBar inv">-</span></button>
        <button class="btn empty" type="button"><span class="spanBar inv">-</span></button>
        <button class="btn " type="button"><span class="spanBar">25°</span></button>
        <button class="btn empty" type="button"><span class="spanBar inv">-</span></button>


    </div>
    <div class="col-sm-4" style="margin-top: 10px;">
        <img class="car" src="../../assets/img/marker2.png" height="350px" width="150px">

    </div>
    <div class="col-sm-4">
        <button class="btn empty" type="button"><span class="spanBar inv">-</span></button>
        <button class="btn " type="button"><span class="spanBar">25°</span></button>
        <button class="btn empty" type="button"><span class="spanBar inv">-</span></button>
        <button class="btn empty" type="button"><span class="spanBar inv">-</span></button>
        <button class="btn empty" type="button"><span class="spanBar inv">-</span></button>
        <button class="btn " type="button"><span class="spanBar">25°</span></button>
        <button class="btn empty" type="button"><span class="spanBar inv">-</span></button>

    </div>

</div>