<div style="position:relative; top: -180px">
    <div class="col-sm-4 text-center" >

    <div class="col-sm-4">

        <button class="btn empty" type="button"><span class="spanBar inv">-</span></button>
        <button class="btn " type="button"><span class="spanSing">Engine: {{tempEng1 | number: '1.1-2' }}°C</span><span class="spanSing inv">IGBT: {{tempIgbt1| number: '1.1-2' }}°C</span></button>
        <button class="btn empty" type="button"><span class="spanBar inv">-</span></button>
        <button class="btn empty" type="button"><span class="spanBar inv">-</span></button>
        <button class="btn empty" type="button"><span class="spanBar inv">-</span></button>
        <button class="btn " type="button"><span class="spanSing">Engine: {{tempEng3| number: '1.1-2' }}°C</span><span class="spanSing inv">IGBT: {{tempIgbt3| number: '1.1-2' }}°C</span></button>
        <button class="btn empty" type="button"><span class="spanBar inv">-</span></button>


    </div>
    <div class="col-sm-4" style="margin-top: 10px;">
        <img class="car" src="../../assets/img/marker2.png" height="350px" width="150px">

    </div>
    <div class="col-sm-4">
        <button class="btn empty" type="button"><span class="spanBar inv">-</span></button>
        <button class="btn " type="button"><span class="spanSing">Engine: {{tempEng2| number: '1.1-2' }}°C</span><span class="spanSing inv">IGBT: {{tempIgbt2| number: '1.1-2' }}°C</span></button>
        <button class="btn empty" type="button"><span class="spanBar inv">-</span></button>
        <button class="btn empty" type="button"><span class="spanBar inv">-</span></button>
        <button class="btn empty" type="button"><span class="spanBar inv">-</span></button>
        <button class="btn " type="button"><span class="spanSing">Engine: {{tempEng4| number: '1.1-2' }}°C</span><span class="spanSing inv">IGBT: {{tempIgbt4| number: '1.1-2' }}°C</span></button>
        <button class="btn empty" type="button"><span class="spanBar inv">-</span></button>

    </div>

</div>
</div>
