<!DOCTYPE html>
<html>
 <head>
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
           integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <!-- Optional theme -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
           integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
     <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
     <script src="https://kit.fontawesome.com/f6b29a4c68.js" crossorigin="anonymous"></script>
 </head>
 <body class="bodyClass">

    <app-nav-bar></app-nav-bar>

<!--    <div class="overlay" *ngIf="isLoading">-->
<!--      <div class="overlay__inner">-->
<!--        <div class="overlay__content"><span class="spinner"></span></div>-->
<!--      </div>-->
<!--    </div>-->

    <div class="txtCenter">
        <p class="textClass">Messaggi di Diagnostica</p>
    </div>
    <div class="center">
        <mat-form-field style="width: 60%; left: 2%">
          <mat-label>Filtraggio Dati</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Esempi: 'on', 'temp', '52:17' " #input>
          <button mat-icon-button class="clearButton" (click)="input.value = ''; applyFilter(null)" [disabled]="input.value.length == 0">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-selection-list #msg (selectionChange)="selectionChange($event.option)">
            <mat-list-option *ngFor="let item of messagesList" [value]="item" [selected]="messageControl.value && messageControl.value?.indexOf(item) >= 0">
                {{item}}
            </mat-list-option>
            <p class="listNoValue" *ngIf="input.value.length > 0 && messagesList.length == 0">Nessun risultato per: "{{input.value}}"</p>
            <p class="listNoValue" *ngIf="messagesList.length == 0 && input.value.length == 0">Non sono presenti messaggi di Diagnostica</p>
        </mat-selection-list>
    </div>
    <div style="margin-left: 70%">
        <div class="button-row">
            <button mat-raised-button color="primary" (click)="selectAll()" *ngIf="msg.selectedOptions.selected.length<messagesList.length && messagesList.length>1">&nbsp;&nbsp;Select All&nbsp;&nbsp;</button>
            <button mat-raised-button disabled color="primary" *ngIf="messagesList.length<=1" (click)="msg.selectAll()">Select All</button>
            <button mat-raised-button color="basic" (click)="selectNone()" *ngIf="msg.selectedOptions.selected.length==messagesList.length && messagesList.length>1">Deselect All</button>
            <button mat-fab color="primary" [disabled]="msg.selectedOptions.selected.length==0" (click)="deleteMessages()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
 </body>
</html>


