<html>

<head>

    <link rel="icon" type="image/gif" href="#" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="https://kit.fontawesome.com/f6b29a4c68.js" crossorigin="anonymous"></script>


</head>


<body class="bodyPassword">

    <app-nav-bar></app-nav-bar>

    <div id="form" class="form">

        <div class="allForm">



            <div class="singleForm">
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Inserisci nuova password</mat-label>
                        <input matInput [type]="hideNewPassword ? 'password' : 'text'" [formControl]="newPsw" required>
                        <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword">
                            <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="newPsw.invalid">{{getErrorNewPsw()}}</mat-error>
                    </mat-form-field>
                </p>

            </div>

            <div class="singleForm">
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Conferma nuova password</mat-label>
                        <input matInput [type]="hideConfirmNewPassword ? 'password' : 'text'"
                            [formControl]="confirmNewPsw" [disabled]="confirmPswDisabled" required>
                        <button mat-icon-button matSuffix (click)="hideConfirmNewPassword = !hideConfirmNewPassword"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmNewPassword">
                            <mat-icon>{{hideConfirmNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="confirmNewPsw.invalid">{{getErrorConfirmNewPsw()}}</mat-error>
                    </mat-form-field>
                </p>

            </div>


            <div class="singleForm">

                <p>
                    <button mat-raised-button (click)="goBack()">Annulla</button>
                    <button mat-raised-button color="primary" [disabled]="confirmButtonDisabled"
                        (click)="updatePassword()">Salva modifiche</button>
                </p>


            </div>

        </div>

    </div>



</body>

</html>