nav{
    background-color: #383140;
}

.bodyPassword{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #383140;
    overflow: visible;
}

.form{
    position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 600px;
  height: 600px;
  background-color: #cac7d7;
  border-radius: 3px;
}



.allForm{

    position: absolute;
    margin: auto;
    margin-top: -25px;
    top: 30%;
    right: 0;
    bottom: 0;
    left: 10%;
    width: 50%;
}

button{
    margin-left: 15px;
}