<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>



<script src="https://kit.fontawesome.com/f6b29a4c68.js" crossorigin="anonymous"></script>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<script src="https://www.gstatic.com/firebasejs/7.6.2/firebase-app.js"></script>

<script src="https://www.gstatic.com/firebasejs/7.6.2/firebase-database.js"></script>

<script src="https://www.gstatic.com/firebasejs/7.6.2/firebase-storage.js"></script>

<script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>


<script src="https://www.openlayers.org/api/OpenLayers.js"></script>
<script src="../../assets/js/OpenLayers.js"></script>

<article class="index-gallery">

    <div class="container-fluid">

        <div class="row">

            <app-map-section class="sm-col-4"></app-map-section>

            <app-speedometer-section class="sm-col-4"></app-speedometer-section>

            <app-bars-section class="sm-col-4"></app-bars-section>

            <app-new-battery class="sm-col-4"></app-new-battery>
            


        </div>

        <div class="row text-center">
            <app-rotazione-volante></app-rotazione-volante>

            <app-spie-controllo></app-spie-controllo>

            <app-visionemacchina></app-visionemacchina>

        </div>

        <script src="../../assets/js/battery.js"></script>

    </div>


</article>

<script src="https://www.openlayers.org/api/OpenLayers.js"></script>
<script src="../../assets/js/OpenLayers.js"></script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>