<head></head>
<div class="col-sm-4 flex-column container">

    <div class="row">

        <div class="col-sm-3">
            <h1 class="banner-font">HighVolt: </h1>
        </div>
        <div class="col-sm-3">
            <h1 class="banner-font" [textContent]="dataHV + '%'"></h1>
        </div>
        <div class="col-sm-3">
            <h1 class="banner-font">LowVolt: </h1>
        </div>
        <div class="col-sm-3">
            <h1 class="banner-font" [textContent]="dataLV + '%'"></h1>
        </div>


        <div id="battery" ></div>
        <div id="battery2" ></div>

    </div>

    <div class="row fa">
        <div class="col-sm-6" >
            <button class="btn bottom" type="button"><span class="spanBar">T.Media</span></button>
            <button class="btn bottom" type="button"><span class="spanBar">Tensione</span></button>
            <button class="btn bottom" type="button"><span class="spanBar">Corrente</span></button>

        </div>
        <div class="col-sm-6">
            <button class="btn bottom" type="button"><span class="spanBar">T.Media</span></button>
            <button class="btn bottom" type="button"><span class="spanBar">Tensione</span></button>
            <button class="btn bottom" type="button"><span class="spanBar">Corrente</span></button>

        </div>
    </div>
</div>