.banner-font{

    font-family: "Arial";

    font-size: x-large;

}

.sections-font{
    font-family: "Arial";

    font-size: x-large;
}

.routerActive{
    background-color: lightgrey;

    font-family: Arial;

    
}