<nav class="navbar navbar-default">
    <a class="navbar-brand">
        <img src="/assets/img/logo.svg" width="30" height="30" class="navbar-header" alt="">
        <strong class="banner-font">Unina Corse</strong>
    </a>
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li class="sections-font">
                    <a routerLink="/uninacorse" routerLinkActive="routerActive"><b>Stato Generale</b><span class="sr-only">(current)</span></a>
                </li>
                <li class="sections-font">
                    <a routerLink="/notimplementedyet" routerLinkActive="routerActive"><b>Dettaglio Batterie</b><span class="sr-only">(current)</span></a>
                </li>
                <li class="sections-font">
                    <a routerLink="/notimplementedyet" routerLinkActive="routerActive"><b>Tracciato</b><span class="sr-only">(current)</span></a>
                </li>
                <li class="sections-font">
                    <a routerLink="/diagnostica" routerLinkActive="routerActive"><b>Diagnostica</b><span class="sr-only">(current)</span></a>
                </li>
                <li class="sections-font">
                    <a routerLink="/storico" routerLinkActive="routerActive"><b>Storico Sensori</b><span class="sr-only">(current)</span></a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="">Optional</a></li>
                <li><a href=""><b>ESCI</b></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>