<html>
  <script src="https://www.openlayers.org/api/OpenLayers.js"></script>
  <script src="../../assets/js/OpenLayers.js"></script>
  <body style="background-color: #65717e">
    <article class="index-gallery">
        <app-nav-bar></app-nav-bar>
        <div class="container-fluid">

            <div class="row">
                <div class="col-sm-4">
                    <app-map-section></app-map-section>
                </div>
                <div class="col-sm-4">
                    <app-speedometer-section></app-speedometer-section>
                </div>
                <div class="col-sm-4">
                    <app-new-battery></app-new-battery>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <app-spie-controllo></app-spie-controllo>
                </div>
                
                <div class="col-sm-4">
                    <app-visionemacchina></app-visionemacchina>
                </div>

                <div class="col-sm-4">
                    <app-rotazione-volante></app-rotazione-volante>
                </div>
            </div>


        </div>


    </article>
  </body>
  <script src="https://www.openlayers.org/api/OpenLayers.js"></script>
  <script src="../../assets/js/OpenLayers.js"></script>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"></script>
</html>
