<div class="col-sm-4" style="position: absolute; left: 60%">
    <h1 class="banner-font">Accelerazioni</h1>
    <img id="pointer" class="sotto" src="../../assets/img/pointer.png" alt="" width="188" height="188" [style.left]="x_axis" [style.bottom]="y_axis">
    <img id="grafico" class="sopra" src="../../assets/img/Gforce.png" alt="" width="188" height="188">
    <div style="position: absolute; left: 20px; top: 260px" >
        <button class="btn " type="button"><span class="spanBar">{{longitudinal |number:'1.2-2'}}</span>m/s<sup>2</sup></button>
        <button class="btn " type="button" style="left: 100px"><span class="spanBar">{{latDir}}{{lateral | number: '1.2-2'}}</span>m/s<sup>2</sup></button>
        <h4 style="position: absolute; top: 70px; left: 5px"><b>Longitud.</b></h4>
        <h4 style="position: absolute; top: 70px; left: 110px"><b>Laterale</b></h4>
    </div>
</div>