   <div cass="row">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <h1 class="banner-font-small">Rollio:</h1>
                <button class="btn " type="button"><span class="spanBar">{{rollio}}°</span></button>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <h1 class="banner-font-small">Becchegg:</h1>
                <button class="btn " type="button"><span class="spanBar">{{beccheggio}}°</span></button>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <h1 class="banner-font-small">Imbardata:</h1>
                <button class="btn " type="button"><span class="spanBar">{{imbardata}}°</span></button>
            </div>
        </div>
        
    </div>
