.banner-font{

    font-family: Impact;
    
}

.index-intro{
    
    
    width: 100%;
    background-color: gray;
    
}

.index-intro .jumbotron{
    
    
    padding: 100px 60px;
    margin: 0px;
    background-image: url(../../assets/img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.index-intro .jumbotron h1{
    
    font-size: 50px;
    
}