<div class="col-sm-4" style="border:  black; border-style: dotted; padding: 10px;">

    <h1 id="spieControllo" class="banner-font">Spie di controllo</h1>
    <div class="col-sm-6">
        <h1 class="banner-font">BMS</h1>
        <button id="BMS"class="button">BMS</button>
    </div>
    <div class="col-sm-6">
        <h1 class="banner-font">IMD</h1>
        <button id="IMD"class="button">IMD</button>
    </div>
    
    <h1 class="banner-font">Temperatura freni</h1>
    <div class="col-sm-6">
        
        <button class="btn " type="button"><span class="spanBar">25°</span></button>
         <button class="btn orange" type="button"><span class="spanBar">40°</span></button>
    </div>
    <div class="col-sm-6">

        <button class="btn " type="button"><span class="spanBar">25°</span></button>
         <button class="btn red" type="button"><span class="spanBar">50°</span></button>
    </div>
    
</div>