<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/series-label.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>
        <script src="https://code.highcharts.com/modules/boost.js"></script>

        <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
        <script src="https://kit.fontawesome.com/f6b29a4c68.js" crossorigin="anonymous"></script>
        <title>Grafici</title>
    </head>
    <body class="bodyClass">
        <app-nav-bar></app-nav-bar>

        <div class="overlay" *ngIf="isLoading">
          <div class="overlay__inner">
            <div class="overlay__content"><span class="spinner"></span></div>
          </div>
        </div>

        <div class="center" *ngIf="!canFilter" (keydown.enter)="date.value.length>7 ? prepareValuesForSearch(orain.value,orafin.value,date.value) : null">
            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
              <input matInput #date [matDatepicker]="picker" [max]="maxDate" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            &nbsp;&nbsp;&nbsp;
            <label>Scegli ora inizio:&nbsp;</label><input type="time" #orain id="oraInizioGenerale" value="15:16:00" step="1">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label>Scegli ora fine:&nbsp;</label><input type="time" #orafin id="oraFineGenerale" value="22:18:00" step="1">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button mat-button color="primary" *ngIf="date.value.length>7" (click)=prepareValuesForSearch(orain.value,orafin.value,date.value) style="font-size: 17px">Search</button>
            <button mat-button color="primary" disabled *ngIf="date.value.length<=7" style="font-size: 17px">Search</button>
        </div>
        <!-- Inizio modulo filtraggio dati -->
        <div class="center" *ngIf="canFilter">
          <mat-form-field style="width: 50%; left: 2%">
            <mat-label>Filtraggio Nomi Sensori</mat-label>
            <input matInput placeholder="Ex. Temp - Angolo" [formControl]="search" #input>
            <button mat-icon-button class="clearButton" (click)="search.reset()" [disabled]="input.value.length == 0">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <button mat-button color="primary" class="inCenterButton" (click)="this.canFilter = false; this.sensorListDisplayed = false" >Nuova Ricerca</button>
        </div>
        <!-- Fine Modulo filtraggio dati-->
        <div class = "center" [hidden]="!sensorListDisplayed && !chartsListDisplayed">
            <div [hidden]="!sensorListDisplayed">
              <div style="max-height: 600px; overflow: auto">
                <mat-selection-list #sensoriSelezionati (selectionChange)="filterChange($event.option)">
                  <mat-list-option  *ngFor="let item of $search|async" [value]="item" [selected]="searchControl.value && searchControl.value?.indexOf(item) >= 0">
                    {{item | strRemUnderscore | titlecase}}
                  </mat-list-option>
                </mat-selection-list>
              </div>
              <div>
                <mat-divider></mat-divider>
                <br>
                <label class="textClassSmall">&nbsp;&nbsp;&nbsp;Sensori Selezionati: {{searchControl.value?.length || 0}}</label>
              </div>
            </div>
            <div id="grafici" *ngIf="chartsListDisplayed"></div>
        </div>
        <div class="centerTrasparent">
          <div class="right" align="right">
            <button mat-raised-button color="primary" class="buttonDistance" (click)="mostraGrafici()" *ngIf="sensorListDisplayed">Mostra Grafici</button>
            <button mat-raised-button color="primary" class="buttonDistance" (click)="unisciGrafici()" *ngIf="canJoinGraph">Unisci</button>
            <button mat-raised-button color="primary" class="buttonDistance" [disabled]="(searchControl.value?.length < 2)" (click)="searchControl.reset()" *ngIf="sensorListDisplayed">Deselect All</button>
          </div>
        </div>
    </body>
</html>
