<html>

<head>
    <link rel="icon" type="image/gif" href="#" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="https://kit.fontawesome.com/f6b29a4c68.js" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<body class="bodyStorico">

    <app-nav-bar></app-nav-bar>

    <div class="load" id="load">

    </div>

    <div class="row" id="rowListaID">

        <div class="col">
        
            <div class="scrollable">

                <div id="box" class="box">
                    <h2 id="titleBox">Seleziona ID sensori</h2>
                    <ul id="listaDate">
                        </ul>
                </div>

            </div>

        </div>
        
    </div>

    

    <div class="row" id="rowFiltri" style="border:  black; border-style: dotted; padding: 10px;" id="filtraggio">

        <h2 class="text-center">Filtraggio grafici</h2> 

        <div class="col" id="filtri">
            

            <div id="Aggiorna tempo">
                <label>Scegli giorno</label><input type="date" id="giornoInizioGenerale"> <label>Scegli ora inizio:</label><input type="time" id="oraInizioGenerale" step="2"/>
                <label>Scegli ora fine:</label>  <input type="time" id="oraFineGenerale" step="2"/>
            </div>

            

            <div id="idPerPlot">
                <label>Seleziona ID su grafico generale</label>
                <ul id="idPlot"></ul>
            </div>
            

        </div>

    </div>

    <div class="row" id="rowButtons">

        <div class="button_div">
            <button>Annulla</button>
            <button id="btnCaricaDate" (click)="getID()">Mostra ID </button>
            <button id="btnAvanti" (click)="aggiungiID()">Conferma selezione</button>
            <button id="btnJson" (click)="startPlot()">Mostra grafici sensori</button>
            <button id="btnConfermaID" (click)="mostraPlotUniti()">Mostra grafico generale</button>
            
        </div>

    </div>

    <div class="row" id="rowGrafici">

        <div class="col-md-12" id="grafici">
                
        </div>

    </div>

  
    
    
    

</body>



</html>